
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Layout</title>
    </head>
    <body>

        <header th:fragment="header">
            
            <div class="row header-div">
                <h1 class="col-3">Sisäänlinkitetty</h1>
                
                <form class="col-6 header-search" th:action="@{/search}" method="GET">
                    <input type="text" name="search" />
                    <input type="submit" value="Hae"/>
                </form>
                
                <h1 class="col-3">Own profile</h1>
            </div>
            
        </header>

    </body>
</html>
