
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>

        <header th:fragment="login-header">
            
            <div class="row">
                <h1 class="col-3">Sisäänlinkitetty</h1>
                
                <form class="col-6">
                    <input type="text" name="search" />
                    <input type="submit" value="Hae"/>
                </form>
                
                <h1 class="col-3">Own profile</h1>
            </div>
            
        </header>

    </body>
</html>
