
.login-container {
    background-color: #eaebec;
    margin-top: 10%;
}

.introduction {
    width: 40%; 
    text-align: center;
    margin: auto;
}

.welcome-text {
    margin-top: 20px;
}

.login-box {
    height: 40%;
    width: 40%;
    margin: auto;
    border: 1px solid #989898;
    box-shadow: 2px 2px 2px #4f4f4f;
}

.login-box-content {
    margin: 20px;
}

.header-div {
    background-color: #2867b2;
    text-align: center;
}

.header-search {
    margin: auto;
}

.container {
    width: 60%;
    margin-top: 30px;
}

.profile-username {
    color: #777;
}

.profile-add-connection {
    margin-top: 10px;
}

.accept-connection {
    text-align: center;
}

.connection-add-buttons {
    justify-content: center;
}

.connection-add-button {
    margin: 10px;
}

.connection-list-link {
    background-color: #eee;
}