<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Sisäänlinkitetty</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
        
        <header th:replace="fragments/layout :: header"></header>

        <h1 th:text="${'Hello ' + message}">Hello world</h1>


    </body>
</html>
